body {
    background-color:#0D93FF;
    font-family: Helvetica, Arial, sans-serif;
    color: #EEEEEE;
}
nav {
    border: 1em solid;
    border-radius: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-radius: 2em ;
    text-align: center;
    background-color: #1D3A54;
    border-color: #1D3A54
}
#colorblock{
    border: 1em solid;
}
nav a {
    color: #E86D0A;
    text-decoration: none;
    background-color: #1D3A54;

}
blockquote{
    background-color: #FF9FAB;
    text-align: center;
    border: 0.75em solid;
    border-radius: .75em ;
    
}
footer {
    text-align: center;
}