body{
    background-color: #0D93FF;
    font-family: Helvetica, Arial, sans-serif;
    color:#EEEEEE;
    margin: 0px;
}

h1{
    margin-top: 0;
    padding: 1em;
}

.content {
    margin: 0.5em;
    }

/*hides Elements that are not selected*/
.readout div {
    display: none;
}
/* shows Elements that are selected*/
.readout div:target {
    display:block;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    background-color: #E86D0A; 
    border-radius:.5em;
}
#banner{
    text-align: center;
    width: 100%;
    color: #E86D0A;
    background-color: #1D3A54;
}

#perTable{
    width: 100%;
    table-layout:fixed;
}
.currentPage{
    color: #EEEEEE;
}

.pTable{
    
    background-color:#1D3A54;
    padding: .5em;
    border-radius: .5em;
        margin-bottom: 1em;
}

.pTable a{
    display: block;
    color:#EEEEEE;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: .005em;
    background-color:#FF2C17;
    text-decoration: none;
    border-radius: .25em;
    text-align: center;

}
footer{
    display: block;
    text-align:center;
}
nav {
    width: 100%;
    text-align:center;
    display: block;
}
nav a {
    color:#E86D0A;;
    text-decoration: none;
    font-size: 1.75em;
    background-color: #1D3A54;
    padding: .25em;
    border-radius: .25em;
    background-color: #1D3A54;
    display: block;
}

/*Hydrogen's Color*/
a[href="#H"] {
    background-color: #00ffff;
}

/* Alkali Metals' Color*/
a[href="#Li"], a[href="#Na"], a[href="#K"], a[href="#Rb"], a[href="#Cs"], a[href="#Fr"] {
    background-color: #008b8b;
}

/*Alkaline Earth Metals' Color*/
a[href="#Be"], a[href="#Mg"], a[href="#Ca"], a[href="#Sr"], a[href="#Ba"], a[href="#Ra"] {
    background-color: #6b8f1e;
}

/*Halogens' Color*/
a[href="#F"], a[href="#Cl"], a[href="#Br"], a[href="#I"], a[href="#At"], a[href="#Uus"] {
    background-color:#0D93FF;
}

/*Noble Gases' Color*/
a[href="#He"], a[href="#Ne"], a[href="#Ar"], a[href="#Kr"], a[href="#Xe"], a[href="#Rn"], a[href="#Uuo"] {
    background-color: #BD6565;
}
a[href="#He"]:hover, a[href="#Ne"]:hover, a[href="#Ar"]:hover, a[href="#Kr"]:hover, a[href="#Xe"]:hover, a[href="#Rn"]:hover, a[href="#Uuo"]:hover {
    background-color: #f08080;
}

/*Transition Metals' Color */
a[href="#Sc"], a[href="#Ti"], a[href="#V"], a[href="#Cr"], a[href="#Mn"], a[href="#Fe"], a[href="#Co"], a[href="#Ni"], a[href="#Cu"], a[href="#Zn"], a[href="#Y"], a[href="#Zr"], a[href="#Nb"], a[href="#Mo"], a[href="#Tc"], a[href="#Ru"], a[href="#Rh"], a[href="#Pd"], a[href="#Ag"], a[href="#Cd"], a[href="#Hf"], a[href="#Ta"], a[href="#W"], a[href="#Re"], a[href="#Os"], a[href="#Ir"], a[href="#Pt"], a[href="#Au"], a[href="#Hg"], a[href="#Rf"], a[href="#Db"], a[href="#Sg"], a[href="#Bh"], a[href="#Hs"], a[href="#Mt"], a[href="#Ds"], a[href="#Rg"], a[href="#Cn"] {
    background-color: #663399;
}
a[href="#Sc"]:hover, a[href="#Ti"]:hover, a[href="#V"]:hover, a[href="#Cr"]:hover, a[href="#Mn"]:hover, a[href="#Fe"]:hover, a[href="#Co"]:hover, a[href="#Ni"]:hover, a[href="#Cu"]:hover, a[href="#Zn"]:hover, a[href="#Y"]:hover, a[href="#Zr"]:hover, a[href="#Nb"]:hover, a[href="#Mo"]:hover, a[href="#Tc"]:hover, a[href="#Ru"]:hover, a[href="#Rh"]:hover, a[href="#Pd"]:hover, a[href="#Ag"]:hover, a[href="#Cd"]:hover, a[href="#Hf"]:hover, a[href="#Ta"]:hover, a[href="#W"]:hover, a[href="#Re"]:hover, a[href="#Os"]:hover, a[href="#Ir"]:hover, a[href="#Pt"]:hover, a[href="#Au"]:hover, a[href="#Hg"]:hover, a[href="#Rf"]:hover, a[href="#Db"]:hover, a[href="#Sg"]:hover, a[href="#Bh"]:hover, a[href="#Hs"]:hover, a[href="#Mt"]:hover, a[href="#Ds"]:hover, a[href="#Rg"]:hover, a[href="#Cn"]:hover {
        background-color: #6f5499;
}


/*Lanthanides' Color*/
a[href="#Lanthanides"], a[href="#La"], a[href="#Ce"], a[href="#Pr"], a[href="#Nd"], a[href="#Pm"], a[href="#Sm"], a[href="#Eu"], a[href="#Gd"], a[href="#Tb"], a[href="#Dy"], a[href="#Ho"], a[href="#Er"], a[href="#Tm"], a[href="#Yb"], a[href="#Lu"] {
    background-color: #daa520;
}

/*Actinides' Color*/
a[href="#Actinides"], a[href="#Ac"], a[href="#Th"], a[href="#Pa"], a[href="#U"], a[href="#Np"], a[href="#Pu"], a[href="#Am"], a[href="#Cm"], a[href="#Bk"], a[href="#Cf"], a[href="#Es"], a[href="#Fm"], a[href="#Md"], a[href="#No"], a[href="#Lr"] {
    background-color: #b8860b;
}

/*Metaloids' Color*/
a[href="#B"], a[href="#Si"], a[href="#Ge"], a[href="#As"], a[href="#Sb"], a[href="#Te"], a[href="#Po"] {
    background-color: #1e8f7a;
}
/*Other Nonmetals' Color*/
a[href="#C"], a[href="#N"], a[href="#O"], a[href="#P"], a[href="#S"], a[href="#Se"] {background-color: #8f1e33;
}


/* Changes for viewing on Desktop */

@media only screen and (min-width: 768px){
    
nav {
    width: 100%;
    text-align:center;
    margin: auto;
    display: block;
}
nav a {
    color:#E86D0A;;
    text-decoration: none;
    font-size: 1.5em;
    background-color: #1D3A54;
    padding: .25em;
    border-radius: .25em;
    background-color: #1D3A54;
    display: inline-block;
    margin: .25em;
}
    
.content {
    margin: 1.5em;
    }
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  /* Small screen, retina, stuff to override above media query */

}